extends layout

block content

  article(id='top' class='wrapper style1')
    div.container
      h1(class='center') Apnotpan / Api
          //- form(action="../apnotpan/api" method="post")
          //-     <button type="submit"><i class="fa fa-search"></i></button>
      

    .container-fluid
      h2(class='center')=h2  

      div(class='date-periode')
        form(method="post" action="/apnotpan/api/getdate1" id='dateOfFilm' enctype='multipart/form-data')
          div(class="form-content")
            input(type="hidden" name="pagenumber" id="pagenumber" value=1)
            input(type="hidden" name="etat" id="etat" value=type)
            .col-5
              label(for="date_de_debut") Date de début :
              input(type="date" name="date_de_debut" id="date_de_debut" value=dateDebut)
            .col-5
              label(for="date_de_fin") Date de fin : 
              input(type="date" name="date_de_fin" id="date_de_fin" value=dateFin)
            .col-2
              button(type="submit" class="btn btn-info")
                i(class="far fa-check-circle")

      //Pagination
      div(class="navbar-pagination")
        nav(aria-label="Page navigation example")
          ul(class="pagination")
            li(class="page-item")
              a(class="page-link" href="/apnotpan/api/page="+ previous +"&dateDebut="+ dateDebut +"&dateFin="+ dateFin+"&etat="+type) Previous
            while (total_pages>= val_moins_3 && val_moins_3 <= val_plus_3)
              input(type="hidden" value=total_pages+" "+ val_moins_3 + " " + totalpage_plus_3)
              if (val_moins_3 == getpage)
                li(class="page-item active" aria-current="page")
                  span(class="page-link")= getpage
                    span(class="sr-only")(current)
                      span(type="hidden")= val_moins_3
              if (getpage != val_moins_3)
                li(class="page-item")
                  a(class="page-link" href="/apnotpan/api/page="+ val_moins_3 +"&dateDebut="+ dateDebut +"&dateFin="+ dateFin+"&etat="+type)= val_moins_3
                    //- if (val_moins_3 != total_pages && getpage != val_moins_3)
              if (getpage == total_pages)
                span(type="hidden" value= val_moins_3)
              span(type="hidden" value= val_moins_3++)
              
            li(class="page-item")
              a(class="page-link" href="/apnotpan/api/page="+ next +"&dateDebut="+ dateDebut +"&dateFin="+ dateFin+"&etat="+type) Next 
          p(class="affichageDate")
            span(class="affichageDateDebut")= dateDebut
            span(class="affichageDateFin")= dateFin
          p(class="affichageTitre")= "Nombre de pages : "+total_pages


      if (movies)
        div(class="card-deck d-flex col-12")
          each obj in movies
            div(class="col-sm-6 col-md-6 col-lg-4 mt-3")
              div(class="card mb-3")
                .row
                  div(class="col-md-5")
                    if (obj.poster_path == null)
                      img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png' class="card-img" alt="Card image cap")
                    if (obj.poster_path != null)
                      img(src='http://image.tmdb.org/t/p/w500/'+obj.poster_path class="card-img" alt="Card image cap")
                  div(class="col-md-7 adjustement")
                    h5(class="card-title")= obj.title
                    div(class="card-body")
                      if (!obj.overview)
                        p(class="card-text scroller")= "Pas de description pour le moment"
                      if (obj.overview)
                        p(class="card-text scroller")= obj.overview
                    div(class="card-footer")
                      small(class="text-muted")= "Date de sortie : " + obj.release_date
                      button(type="button" class="btn btn-info" data-toggle="modal" data-target="#modal_"+obj.id)
                        i(class="far fa-arrow-alt-circle-right")

            //Modal Film
            div(class="modal fade" id="modal_"+obj.id tabindex="-1" role="dialog" aria-labelledby=obj.title aria-hidden="true")
              div(class="modal-dialog modal-dialog-centered modal-xl" role="document")
                div(class="modal-content")
                  div(class="modal-header")
                    h5(class="modal-title" id=obj.title)= obj.title
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                      span(aria-hidden="true") ❌
                  div(class="modal-body")
                    if (obj.poster_path == null)
                      img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png' alt="img poster")
                    if (obj.poster_path != null)
                      img(src='http://image.tmdb.org/t/p/w500/'+obj.poster_path alt="img poster")
                    h4 Description 
                    if (!obj.overview)
                      p= "Pas de description pour le moment"
                    if (obj.overview)
                      p= obj.overview
                    h4 Genre
                    for arraygenreFilm in obj.genre_ids
                      for allGenre in genre
                        if allGenre.id == arraygenreFilm
                          p(class="genre")= allGenre.name
                    div(class='Commentaire-section')
                      h2 Commentaires
                      div(class='commentaire-items')
                        if (session.email)
                          div(class="addPost-section col-12")
                            form(action="formulaireCommentaire", method="post")
                              for arraygenreFilm in obj.genre_ids
                                input(type="hidden" id="genreIds" name="genreIds" value=arraygenreFilm)
                              input(type="hidden" id="release_date" name="release_date" value=obj.release_date)
                              input(type="hidden" id="poster_Path" name="poster_Path" value=obj.poster_path)
                              input(type="hidden" id="commentaireFilm" name="commentaireFilm" value=obj.overview)
                              input(type="hidden" id="filmIdToBdd" name="filmIdToBdd" value=obj.id)
                              input(type="hidden" id="titreFilm" name="titreFilm" value=obj.title)
                              div.row
                                .col-6.pseudo-section
                                  label(for="Pseudo") Votre pseudo :
                                  input(class="form-control" type="text" disabled="disabled" name="pseudo" id="pseudo" value=session.pseudo)
                                .col-6.note-section
                                  label(class="mr-sm-2" for="Note") Note :
                                  select(class="custom-select mr-sm-2" id="Note" name="Note")
                                    option(value="1") 1/5 Médiocre
                                    option(value="2") 2/5 Moyen
                                    option(value="3" selected) 3/5 Bon
                                    option(value="4") 4/5 Très bon
                                    option(value="5") 5/5 Excellent
                                .col-12
                                  label(for="Commentaire") Votre commentaire :
                                  textarea(class="form-control form-control-lg" rows="3" name="Commentaire" id="Commentaire" placeholder="Inserez votre commentaire")
                                .col-12.d-flex.justify-content-center
                                  button(type="submit" class="btn btn-primary") Envoyez !




                  div(class="modal-footer")
                    p= "Date de sortie : " + obj.release_date
                    //- button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
                    //- button(type="button" class="btn btn-primary") Save changes
                
        