extends layout

block content

    article(id='top' class='wrapper style2')
        div.container
            header
                h2
                    img(src='/images/musicalbox.png' width='64' lenght='64' alt='')
                    span Liste des utilisateurs
                    if (!session.email)
                        h5 Vous n'êtes pas connecté

        div.container
            if (users)
                table.default.usertab
                    tr
                        th Email
                        th Pseudo
                        th Password
                        th Role
                        th ID

                    if (connection)
                        each obj in users
                            tr
                                td= obj.email
                                td= obj.pseudo
                                td= obj.passe
                                td= obj.role
                                td= obj._id
                    else if (session.email)
                        tr
                            td= session.email
                            td= session.pseudo
                            td= "Cripted"
                            td= "DefaultUser"
                            td= "Cripted"
            else
                h4(style='color: red;') Pas d'utilisateurs pour le moment...